/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body {
    background: linear-gradient(45deg, #ee4540, #942458, #2d142c)
}

#root {
    height: 100vh;
}

/* .logsDiv{
    width:330px;
    background-color: white;
    border-radius: 20px;
    border: none;
    margin: 20px auto;
}

@media only screen and (max-width: 768px){
    .logsDiv{
        width: 100%;
    }
} */